:root {
  --white: white;
  --black: black;
}

.section {
  background-color: #02031c;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.card_line-bottom {
  width: 100%;
  margin-top: -7.5em;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.card_arrow {
  width: .89em;
}

.card_line {
  background-color: #00e0ff;
  border-radius: 100vw;
  width: 3.4em;
  height: 9em;
  margin-left: 2.5em;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.card_line.is--4 {
  width: .8em;
  margin-left: 16.6em;
}

.card_line.is--5 {
  width: 3.5em;
  margin-left: 17.9em;
}

.card_line.is--3 {
  width: 3.9em;
  margin-left: 10.7em;
}

.card_line.is--2 {
  width: 1em;
  margin-left: 6.4em;
}

.card_top {
  z-index: 4;
  background-color: #00e0ff;
  border-radius: 2.81em;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20em;
  padding-top: 3.13em;
  padding-left: 4.5em;
  padding-right: 4.5em;
  display: flex;
  position: relative;
}

.card_top.is--content {
  background-color: rgba(0, 0, 0, 0);
}

.speaker_text {
  opacity: .7;
}

.card_bottom {
  z-index: 3;
  background-color: #00e0ff;
  border-radius: 2.81em;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.79em;
  margin-top: -6.1em;
  padding: 1.2em 2.3em;
  display: flex;
  position: relative;
}

.card_bottom.is--content {
  background-color: rgba(0, 0, 0, 0);
}

.speaker {
  flex: none;
  justify-content: center;
  align-items: center;
  padding-top: .05em;
  padding-bottom: 2.97em;
  display: flex;
}

.card_img {
  background-color: #02031c;
  background-image: var(--image-6109cd85);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 1.56em;
  flex: none;
  width: 5.42em;
  height: 5.42em;
  margin-bottom: 2.08em;
}

.card {
  z-index: 1;
  color: #02031c;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 22.4em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.card_button {
  background-color: #dceef6;
  border-radius: 1.41em;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 3.96em;
  height: 3.96em;
  display: flex;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .14);
}

.card_line-top {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 9.6em;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.card_background {
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.css-card-gooey {
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.html-embed-2 {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: flex;
}

.heading-3 {
  font-weight: 500;
}

.card_description {
  z-index: 5;
  margin-top: .5em;
  position: relative;
}
